<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taixin.android.onvif.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- android:name="com.taixin.android.onvif.app.MainActivity" -->
        <activity
            android:name="com.taixin.android.onvif.app.CamerasGridActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.taixin.android.onvif.app.DeviceListActivity" >
        </activity>
        <activity android:name="com.taixin.android.onvif.app.CameraActivity" >
        </activity>
        <activity
            android:name="com.taixin.android.onvif.app.HomeSettingActivity"
            android:theme="@style/Home_Setting_Style" >
        </activity>
        <activity
            android:name="com.taixin.android.onvif.app.LoginActivity"
            android:theme="@style/login_dialog" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="WRITE_EXTERNAL_STORAGE" />

</manifest>